#encabezado{
    margin: 20%;
    padding: 10%;
    border: 1px solid black;
    border-radius: 10px 15px 20px 25px;
    text-shadow:  rgb(216, 125, 15) 5px 5px 3px;
   /* background: linear-gradient(180deg,beige,navajowhite,gainsboro,ghostwhite);*/
    /*background: rgb(200, 35%,33%.0.2);*/
    background: hsla(160, 90%, 33%,2);
    outline: 1px dashed navy;
    outline-offset: 15px;
    /*transform: rotate(50deg); */
    /*transform: skew(40deg); */
    transition: 1s ease-in-out 0.5s;
    
}
#encabezado:hover{
    box-shadow: cyan 5px 5px 10px;
    cursor: pointer;
    box-shadow: lightgrey;
    /*transform: scale(0,-3); */
    /*transform: rotate(50deg); */
    transform: rotate(30deg) translate(180px); 
}
